.button-secondary {
  align-items: center;
  border: 1px solid;
  border-color: #333332;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px 40px;
  position: relative;
  min-width: 200px;
  max-width: fit-content;
  
}

.button-secondary .red{
  background-color: var(--persian-red);
}

.button-secondary .text-wrapper {
  color: #333332;
  font-family: 'HK Grotesk-MediumLegacy' Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  width: fit-content;
}

.button-secondary:hover {
  background-color: #b73e33;
  border-color: var( --isabeline);
}

.button-secondary:hover .text-wrapper {
  color: #f7f5f2;
}
@media screen and (max-width: 768px) {
  .button-secondary {
      align-items: center;
      border: 1px solid;
      border-color: var(--newjet-black);
      display: inline-flex;
      gap: 20px;
      justify-content: center;
      padding: 16px 30px;
      position: relative;
    }
    
    .button-secondary .text-wrapper {
      color: var(--newjet-black);
      font-family: 'HK Grotesk-MediumLegacy', Helvetica;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: normal;
      margin-top: -1px;
      position: relative;
      text-align: center;
      white-space: nowrap;
      width: fit-content;
    }
    .center{
      margin: auto;
    }
    .hidden{
      display: none;
    }
    
}

@media screen and (max-width: 480px) {
  .button-secondary .text-wrapper {
      font-size: 12px; /* Further adjust font size for even smaller screens */
  }
}

