<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200;400&family=Homemade+Apple&family=Inter+Tight:wght@100&family=Montserrat&family=Noto+Serif+JP:wght@200&family=Playfair+Display&family=Quicksand:wght@300&family=Raleway:wght@300&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    <title>ImUrs</title>
    <link rel="icon" href="/public/imgs/titlelogo.png" type="image/icon type">
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-family: #4e4e4e;
            margin: 15px;
            color: #f5f5f5;
            background-color: #1a1a1a;
        }
        h3{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style="position: relative;margin: auto;width: 70px;">
        <img src="https://iamyourstory.in/public/imgs/titlelogo.PNG" alt="ImUrs" style="width: 100%;height: auto;">
    </div>
    <h1>Privacy Policy for ImUrs</h1>
    <p>
        At ImUrs, we take your privacy seriously. This privacy policy outlines how we collect, use, and protect your personal information when you use our landing page. By using our landing page, you agree to the terms outlined in this privacy policy.
    </p>
    <h3>
        Information Collection:
    </h3>
    <p>
        When you fill out the forms on our landing page, we may collect the following personal information
    </p>
    <ul>
        <li>Name</li>
        <li>Email addresss</li>
        <li>Phone number</li>
        <li>Any other information you provide in the form</li>
    </ul>
    <h3>
        Use of Information:
    </h3>
    <p>
        We collect this information solely to provide you with the information you have requested from us. We may also use your information to:
    </p>
    <ul>
        <li>Respond to your inquiries and requests</li>
        <li>Send you marketing and promotional materials (if you have opted-in to receive them)</li>
        <li>Improve our website and marketing efforts</li>
    </ul>
    <h3>
        Sharing of Information:
    </h3>
    <p>
        We do not sell, trade, or otherwise transfer your personal information to third parties. We may share your personal information if required by law or to protect our rights and property.
    </p>
    <h3>
        Data Security:
    </h3>
    <p>
        We take data security seriously and implement industry-standard measures to protect your personal information from unauthorized access, use, or disclosure. We use SSL encryption technology to protect the data you submit through our forms.
    </p>
    <h3>
        Your Rights:
    </h3>
    <p>
        You have the right to:
    </p>
    <ul>
        <li>Access the personal information we have collected about you</li>
        <li>Correct any errors in your personal information</li>
        <li>Request that we delete your personal information</li>
        <li>Opt-out of receiving promotional emails</li>
    </ul>
    <p>
        To exercise these rights, please contact us using the contact information provided below.
    </p>
    <h3>
        Changes to Privacy Policy:
    </h3>
    <p>
        We reserve the right to modify this privacy policy at any time. Any changes made will be reflected on this page. We encourage you to review this privacy policy regularly to stay informed about how we are protecting your personal information.
    </p>
    <h3>
        Contact Us:
    </h3>
    <p>
        If you have any questions or concerns about this privacy policy or our data collection practices, please contact us at support@iamyourstory.in.
    </p>
</body>
</html>