<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200;400&family=Homemade+Apple&family=Inter+Tight:wght@100&family=Montserrat&family=Noto+Serif+JP:wght@200&family=Playfair+Display&family=Quicksand:wght@300&family=Raleway:wght@300&family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    <title>ImUrs</title>
    <link rel="icon" href="/public/imgs/titlelogo.png" type="image/icon type">
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-family: #4e4e4e;
            margin: 15px;
            color: #f5f5f5;
            background-color: #1a1a1a;
        }
        h3{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div style="position: relative;margin: auto;width: 70px;">
        <img src="https://iamyourstory.in/public/imgs/titlelogo.PNG" alt="ImUrs" style="width: 100%;height: auto;">
    </div>
    <h1>Terms and Conditions for ImUrs</h1>
    <ol>
        <h3><li> Acceptance of Terms</li></h3>
        <p>
            By accessing and using iamyourstory.in, you agree to be bound by the terms and conditions set forth in this agreement.
        </p>
        <h3><li>Description of Services</li></h3>
        <p>
            ImUrs is a product based company that creates personalized and 100% customized magazines for customers based on their stories. We provide an abstract form for filling up and uploading stories and snapshots out of which an ‘I Am Your Story’ Magazine is drafted.
        </p>
        <h3><li>Customization and Changes</li></h3>
        <p>
            Customers are allowed to request changes only once to their magazine after the final draft is shared with them for approval. Additional changes may be subject to additional fees.
        </p>
        <h3><li>Copyright and Ownership</li></h3>
        <p>
            Customers retain ownership and copyright of the photos and story they provide for their magazine. By submitting content to the website, customers grant ImUrs a license to use, reproduce, and display the content solely for the purpose of creating and delivering the magazine.
        </p>
        <h3><li>Payment and Refunds</li></h3>
        <p>
            Customers will be charged for their magazine before ImUrs Team starts working on it. Once the magazine comes in process, no refund can be requested as this is a customized product.
        </p>
        <h3><li>Delivery and Shipping</li></h3>
        <p>
            Magazines are conceptualized, designed, printed and shipped just within a 48 hours timeframe after the customer has completed their abstract form and made payment. Shipping times and fees may vary depending on the customer's location and shipping preferences.
        </p>
        <h3><li>Limitation of Liability</li></h3>
        <p>
            ImUrs reserves the right to modify these terms and conditions at any time without prior notice. Continued use of the website after any modifications constitutes acceptance of the new terms and conditions.
        </p>
        <h3><li>Changes to Terms and Conditions</li></h3>
        <p>
            ImUrs reserves the right to modify these terms and conditions at any time without prior notice. Continued use of the website after any modifications constitutes acceptance of the new terms and conditions.
        </p>
        <h3><li>Governing Law</li></h3>
        <p>
            Any claim related to ImUrs website shall be governed by the laws of India without regards to its conflict of law provisions. 
        </p>
        <p>
            By using Iamyourstory.in, you agree to abide by these terms and conditions. If you do not agree to these terms and conditions, please do not use the website. If you have any questions or concerns, please contact us at support@iamyourstory.in.
        </p>
    </ol>
</body>
</html>