<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./form.css">
</head>
<body class="form">
    <div class="form-group">
        <div class="lable">
            <span class="sequence">01</span>
            What's your brand name ?
        </div>
        <input type="text" name="" id="">
    </div>
    <div class="g2">
        <div class="form-group">
            <div class="lable">
                <span class="sequence">01</span>
                What's your brand name ?
            </div>
            <input type="text" name="" id="">
        </div>
        <div class="form-group">
            <div class="lable">
                <span class="sequence">01</span>
                What's your brand name ?
            </div>
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="form-group">
        <div class="lable">
            <span class="sequence">01</span>
            What's your brand name ?
        </div>
        <div class="button-radio" style="margin-top: 15px;">
            <input type="radio" id="radio1" name="radio-group" />
            <label for="radio1">Button 1</label>
            
            <input type="radio" id="radio2" name="radio-group" />
            <label for="radio2">Button 2</label>
            
            <input type="radio" id="radio3" name="radio-group" />
            <label for="radio3">Button 3</label>
        </div>
    </div>
    
</body>
</html>